[Desktop Entry]
Name=Stardew Valley
Description= Stardew Valley through Mono
Exec=/usr/bin/mono "/home/user/Desktop/Stardew Valley/StardewValley.exe"
Type=Application
Categories=Game;
